.lable {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin-bottom: 30px;
}

.input {
  margin-left: 10px;
  border: 1px solid aliceblue;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: aliceblue;
  letter-spacing: 0.04em;
}

input::placeholder {
  color: aliceblue;
  font-size: 12px;
}
